<nlog xmlns = "http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\temp\nlog-internal.log" internalLogLevel="Trace">

  <extensions>
    <add assembly = "NLog.Targets.SqlServerBulk"/>
  </extensions>

  <targets>
    <target name = "AsyncSqlServerBulk"
            xsi:type = "AsyncWrapper"
            batchSize = "5000"
            queueLimit = "10000"
            overflowAction = "Block"
            timeToSleepBetweenBatches = "10">

      <target name = "SqlServerBulk" xsi:type ="SqlServerBulk" connectionString = "Server=(local);Initial Catalog=test;Integrated Security=true" table = "Log">
        <generatedColumn name = "Id" sqlType = "BIGINT" isPrimaryKey = "true"/>
        <generatedColumn name = "InsertTimestamp" sqlType = "DATETIME2" precision = "3"/>
        <column name = "Message" sqlType = "NVARCHAR" length = "17" layout = "${message}"/>
        <column name = "Logger" sqlType = "NVARCHAR" length = "15" layout = "${logger}"/>
        <column name = "Level" sqlType = "NVARCHAR" length = "10" layout = "${level}"/>
        <column name = "ProcessId" sqlType = "INT" layout = "${processid}"/>
      </target>

    </target>
  </targets>

  <rules>
    <logger name = "*" minLevel = "Info" writeTo = "AsyncSqlServerBulk"/>
  </rules>
</nlog>
